.container {
  width: 80%;
  height: 100vh;
  background-color: lavender;
}
.container-label {
  font-weight: 800;
  padding: 0 10px;
}
.container-firstHead {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding-bottom: 20px;
}
.container-firstHead_Select {
  width: 150px;
  height: 30px;
  padding: 0 10px;
  background-color: lavender;
}
select {
  border: 1px solid lightgray;
}
.forUnderline {
  height: 1px;
  background-color: black;
  width: 80%;
  margin: 20px 0 10px 0;
}

.container-secondHead {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.container-secondHead label {
  display: block;
  margin-bottom: 5px;
}

.container-secondHead input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
